.getStudentDetail{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.getStudentdetailContainer{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 10px;
}

.name{
    display: flex;
    padding: 5px 10px;
}

.detailValue{
    color: gray;
}
.gobackButton{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(252, 48, 82);
}